<h1>Generic Ticketallocator  Parameter</h1>

<p>
  <strong>Title:</strong>
  <%= @articletwos.key %>
</p>
     
<p>
  <strong>Text:</strong>
  <%= @articletwos.value %>
</p>

<%= link_to 'Back', articletwos_path %>
<%= link_to 'Edit', edit_articletwo_path %>
